@font-face{
    font-family:UbisoftSans;
    src: url('../font/UbisoftSans-Regular.woff2'),url('../font/UbisoftSans-Bold.woff2');
}
body{
    font-family: UbisoftSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin:0;
    background: #1d1e22;
}
img{
    object-fit: cover;
}
a{
    text-decoration:none;
}
.pc_nav{
    width:100%;
    height:50px;
    display:block;
    position:relative;
    background: black;
    color:white;
}
.pc_nav ul li{
    display:inline-block;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    font-size:16px;
    margin:15px 24px 15px;
    cursor:pointer;
}
.pc_nav_item_container{
    display:inline-block;
    position:relative;
    height:100%;
}
.pc_nav ul li a{
    color: #ccc;
    transition-duration:0.7s;
}
.pc_nav ul li a:hover{
    color:white;
}
.pc_nav_item{
    filter:opacity(0.93);
    transition-duration:0.3s;
}
.pc_nav_item:hover{
    filter:opacity(1);
}
@media screen and (min-width:1000px){
    .mobile_nav_menu_container{
        display:none;
    }
    .pc_nav_search{
        display:inline-block;
        position:absolute;
        right: 8%;
        height:100%;
        width: 75px;
        cursor:pointer;
        text-align:center;
    }
    .pc_nav ul{
        text-align:center;
        list-style:none;
        display:inline-block;
        margin:0;
        padding:0;
        cursor: default;
        width:100%;
        position:absolute;
    }
    .pc_nav_logo_container{
        float:left;
        position:absolute;
        display:inline-block;
    }
    .pc_nav_logo{
        padding: 8px 20px 15px 20px;
    }
    .join_title{
        font-size:40px;
    }
    .pc_nav_search_btn_container{
        height: 100%;
        padding-top: 16px;
    }
}
@media screen and (max-width:1000px){
    .mobile_nav_menu_container{
        position: absolute;
        display:inline-block;
        width: 24px;
        height: 18px;
        left: 24px;
        top: 18px;
        cursor: hand;
    }
    .pc_nav_search{
        display:none;
    }
    .pc_nav ul{
        display:none;
    }
    .pc_nav_logo_container{
        position:absolute;
        margin: 0 60vw 0 40vw;
    }
    .pc_nav_logo{
        padding-top: 8px;
    }
    .join_title{
        font-size:20px;
    }
}
.pc_nav_logo{
    width:95px;
    position:relative;
    display:block;
}
.join_title{
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    text-align:center;
    margin-top:0;
}
.join_us{
    padding-top:96px;
    background:white;
}
.join_us>h2,.join_us>h4{
    text-align:center;
    letter-spacing: 2px;
    -webkit-font-smoothing: antialiased;
}
.join_sub{
    margin-top:-12px;
    font-size:17px;
    color:#5a5a5a;
    margin-bottom:75px;
    -webkit-font-smoothing: antialiased;
}
.join_card{
    box-shadow: 0 0 50px rgba(0,0,0,0.2);
    position:relative;
}
.join_us_card{
    background: #ff9678;
}
@media screen and (max-width:1000px) {
    .join_card_container{
        display:none;
    }
    .join_card_container_mobile{
        padding:25px;
        display:block;
        position:relative;
        width : 85vw;
        margin: auto;
    }
    .join_card_img{
        top:0;
        left:0;
        width:100%;
        position:relative;
        margin-top:-9vh;
    }
    .join_card_img_container{
        position:relative;
        width:100%;
    }
    .join_card_shadow{
        width:100%;
        bottom:-17vh;
    }
    .join_card_shadow img{
        position:relative;
        width:100%;
    }
    .join_introduction{
        display:inline-block;
        text-align:left;
        margin: 2vh 4vh;
    }
}
@media screen and (min-width:1000px) {
    .join_card_container{
        padding:25px;
        display:inline-block;
        width : 28vw;
        min-height: 350px;
        max-height: 600px;
        max-width: 435px;
        min-width: 230px;
    }
    .join_card_container_mobile{
        display:none;
    }
    .join_card_img{
        width:100%;
        margin-top: -12px;
    }
    .join_card_img_container{
        position:absolute;
        height:50%;
        display:block;
        left:0;
        right:0;
    }
    .join_card_shadow{
        width:100%;
    }
    .join_card_shadow img{
        position:relative;
        width:100%;
    }
    .join_introduction{
        display:inline-block;
        text-align:left;
        margin-left: 8%;
        margin-right:8%;
        margin-bottom:3%;
        margin-top: 55%;
    }
}
.join_us_card_img{
    width:100%;
    cursor: default;
}
.join_us_card_img_container{
    position:relative;
    display:block;
    top:0;
    left:0;
    right:0;
    bottom:35px;
}
.join_us_card_container{
    height:auto;
    max-width:185px;
    max-height:275px;
    cursor:pointer;
}
.join_card_wrapper{
    text-align:center;
}
.join_introduction>h4{
    font-size:18px;
    -webkit-font-smoothing: antialiased;
}
.join_introduction>h5{
    font-size:16px;
    color:#5a5a5a;
    font-weight:400;
    -webkit-font-smoothing: antialiased;
}
.join_btn{
    border-radius: 20px;
    height:43px;
    color:white;
    text-align:center;
    background: #ff6050;
    margin-top:15px;
    padding:10px 48px;
    border:0;
    font-family: UbisoftSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight:700;
    cursor: pointer;
    font-size:18px;
}
.join_btn_container{
    text-align:center;
}
.join_us_join_us{
    font-size:18px;
    color:white;
    text-align:center;
    min-height:36px;
    margin-top:12px;
    margin-bottom:9px;
}
.join_btn_container img{
    width:150px;
}
.footer{
    display:flex;
    flex-direction:column;
}
.channels{
    height:60px;
    color:#888787;
    top:14px;
    background: black;
}
@media screen and (min-width:1000px) {
    .channels_text {
        font-size: 14px;
        position: absolute;
        margin: 23px 0 0 8%;
    }
}
@media screen and (max-width:1000px){
    .channels_text{
        display:none;
    }
}
.channels_btn{
    transition-duration:0.6s;
    cursor:pointer;
    height:32px;
    width:32px;
    margin: 14px 20px 14px 0;
}
.channels_btn:hover{
    filter: opacity(0.65);
}
.channels_list{
    text-align:center;
    height:36px;
}
.trending{
    background:white;
}
@media screen and (min-width: 1000px){
    .trending{
        padding-top:96px;
    }
    .download{
        text-align:center;
        margin:30px;
    }
    .download a{
        color:#888787;
    }
    #copyright_br{
        display:block;
    }
    .links_left,.links_right{
        display:block;
        margin-top:0;
    }
    .links_middle div a{
        display:block;
        margin-bottom:6px;
    }
    .links_left{
        width:20%;
    }
    .links_middle{
        width:60%;
        display:flex;
        justify-content: space-between;
    }
    .links_right{
        width:10%;
    }
    .links_middle>div{
        width:30%;
        margin:0 50px;
        display:block;
        flex-direction: column;
    }
    .links{
        margin:0 8% 0 8%;
        display:flex;
        justify-content: space-between;
    }
    .links_left a{
        color:#888787;
        transition-duration: 0.6s;
        text-transform:uppercase;
        font-size:11px;
    }
    .links_left a:hover{
        color:white;
    }
    .links_middle a{
        color:white;
        transition-duration: 0.6s;
    }
    .links_middle a:hover{
        filter:opacity(0.65);
        text-transform:uppercase;
    }
    .links_logo{
        height:32px;
        margin-bottom: 12px;
        object-fit: cover;
    }
}
@media screen and (max-width: 1000px){
    .trending{
        padding-top:0;
    }
    .download{
        display:none;
    }
    #copyright_br{
        display:inline;
    }
    .copyright{
        margin: 12px 6vw;
    }
    .links_left,.links_right{
        display:block;
        margin-top:0;
    }
    .links_middle div a{
        display:block;
        margin-bottom:6px;
        font-size:9px;
        flex-direction: column;
    }
    .links_left{
        margin-top:30px;
        width:100%;
    }
    .links_middle{
        margin-top:30px;
        width:100%;
        display:flex;
        justify-content: space-between;
    }
    .links_right{
        width:100%;
        margin-top:30px;
    }
    .links_middle>div{
        width:30%;
        margin:0;
        display:block;
        flex-direction: column;
    }
    .links{
        margin:0 8vw 0 8vw;
        display:block;
        justify-content: center;
        text-align:center;
    }
    .links_left a{
        color:#888787;
        transition-duration: 0.6s;
        text-transform:uppercase;
        font-size:11px;
    }
    .links_left a:hover{
        color:white;
    }
    .links_middle a{
        color:white;
        font-weight: 700;
        transition-duration: 0.6s;
    }
    .links_middle a:hover{
        filter:opacity(0.65);
        text-transform:uppercase;
    }
    .links_logo{
        height:64px;
        margin-bottom: 12px;
        object-fit: cover;
    }
}
.copyright{
    text-align:center;
    color:#888787;
    font-size:12.5px;
}
.language{
    color:white;
}
.language img{
    width:20px;
}
.inside{
    background:white;
    padding-top:96px;
}
.inside_before{
    background:#a800ff;
    color:white;
    height:100px;
    margin:0 auto 0 auto;
}
.inside_after{
    background:#a800ff;
    color:white;
    height:75px;
    position:relative;
    margin:0 auto 0 auto;
}
.trending_before{
    background: #018aff;
    color:white;
    height:100px;
    margin:0 auto 0 auto;
}
.trending_after{
    background: #018aff;
    color:white;
    height:75px;
    margin:0 auto 0 auto;
}
.inside_before>p,.trending_before>p{
    font-weight:700;
    text-transform: uppercase;
    text-align:center;
    margin-top:0;
    padding-top: 30px;
}
.inside_container , .trending_container{
    position:relative;
    display:flex;
    touch-action: pan-y;
    height: 48.1vw;
    width: 100%;
    overflow: hidden;
    padding:0;
    margin:0;
}
.inside_item_img ,.trending_item_img {
    display:block;
    width:100%;
}
.inside_item , .trending_item{
    position:relative;
    display: inline-block;
    margin-left:-4px;
    margin-bottom:-4px;
    width: 50vw;
    height: 48.1vw;
    overflow:hidden;
}
.inside_item_active img , .trending_item_active img{
    transition-duration:0.6s;
}
.inside_img_container , .trending_img_container{
    display:block;
    width:50vw;
    position:relative;
}
.inside_container>ul , .trending_container>ul{
    margin:0;
    padding:0;
    display:flex;
    width:200vw;
    margin-left: -25vw;
    margin-top: -4px;
    position:relative;
    justify-content: center;
    align-items: center;
    list-style-type:none;
}
.inside_transition , .trending_transition{
    transition: all .9s cubic-bezier(.33,.63,.65,.99);
}
.inside_container>ul>li , .trending_container>ul>li{
    display:block;
    position:absolute;
    margin:0;
    padding:0;
}
.inside_item_active .inside_img_container:after , .trending_item_active .trending_img_container:after{
    content:"";
    display: block;
    position: relative;
    margin-top: -45vh;
    height: 100%;
    background: linear-gradient(180deg,transparent 0,rgba(0,0,0,.6) 80%);
    width: 100%;
    opacity:0;
    transition-duration:0.6s;
}
.inside_item_active:hover img , .trending_item_active:hover img{
    transform:scale(1.08,1.08);
}
.inside_item_active:hover .inside_img_container:after , .trending_item_active:hover .trending_img_container:after{
    opacity: 1;
}
.news , .more{
    padding-top:96px;
    background:white;
}
.news>h4 , .more>h4{
    font-weight:700;
    font-size:40px;
    text-transform: uppercase;
    text-align:center;
    margin:0 auto 0 auto;
    letter-spacing: 3px;
}
.inside_item_active .inside_item_button , .trending_item_active .trending_item_button{
    display:inline-block;
}
.inside_item_active .inside_item_description , .trending_item_active .trending_item_description{
    opacity: 1 !important;
}
.inside_item_description , .trending_item_description{
    position:absolute;
    bottom:5%;
    z-index:2;
    opacity: 0.75;
    width: 100%;
}
@media screen and (min-width:1000px){
    .inside_before, .inside_after , .trending_before, .trending_after{
        width:55%;
    }
    .inside_before>p,.trending_before>p{
        font-size:40px;
        letter-spacing: 3px;
    }
    .inside_item_description>h4 , .trending_item_description>h4{
        font-size:30px;
    }
    .inside_item_button{
        font-size:20px;
    }
}
@media screen and (max-width:1000px) {
    .inside_before, .inside_after , .trending_before, .trending_after{
        width:85%;
    }
    .inside_before>p,.trending_before>p{
        font-size:20px;
        letter-spacing: 0.5px;
    }
    .inside_item_description>h4 , .trending_item_description>h4{
        font-size:22px;
    }
    .inside_item_button , .trending_item_button{
        font-size:16px;
    }
}
.inside_item_description>h4 , .trending_item_description>h4{
    font-weight: 700;
    text-transform: uppercase;
    color:white;
    text-shadow: 0 7px 51px rgba(0,0,0,.8);
    text-align:center;
    margin-bottom:12px;
}
.inside_item_description_text , .trending_item_description_text{
    display:block;
    color:#e1e1e1;
    text-align:center;
    text-shadow: 0 7px 51px rgba(0,0,0,.8);
    margin:6px 12px;
}
.inside_item_button , .trending_item_button{
    margin-top:12px;
    border-radius: 20px;
    padding:6px 12px;
    cursor:pointer;
    color:white;
    background-color:transparent;
    font-weight:700;
    border:1px white solid;
    z-index:2;
    display:none;
}
.inside_item_button:hover{
    color: #a800ff;
}
.trending_item_button:hover{
    color: rgb(1, 138, 255);
}
.roll_container{
    overflow: hidden;
    position: relative;
}
.roll_container_list{
    list-style-type: none;
    position: relative;
    background:white;
    width:30000px;
    transition: opacity .9s cubic-bezier(.33,.63,.65,.99);
    margin:0;
    padding:0;
}
.roll_container_anim{
    transition: opacity .4s cubic-bezier(.3,.8,.1,.95);
}
.roll{
    position: relative;
    width: 100vw;
    height: 80vh;
    float:left;
}
.roll>img{
    width:100%;
    height:100%;
}
.roll_content{
    position:absolute;
    width:100%;
    top:12px;
    text-align:center;
}
.roll_content>h4{
    text-transform: uppercase;
    text-shadow: 0 7px 51px rgba(0,0,0,.8);
    text-align:center;
    font-weight: 700;
    margin-top:24px;
    opacity:0;
    transition: opacity 1.2s linear;
}
.roll_content_active>h4{
    opacity: 1 !important;
}
@media screen and (max-width:1000px){
    .roll_nav_items{
        width: 34vw;
    }
    .roll_nav{
        width:306vw;
        left: -102vw;
    }
    .roll_left , .roll_right{
        display:none;
        opacity: 0 !important;
    }
}
@media screen and (min-width: 1000px){
    .roll_nav_items{
        width: 17vw;
    }
    .roll_nav{
        width:153vw;
        left: -25.5vw;
    }
}
.roll_nav_items{
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin:0 0;
    bottom: 0;
    opacity:0.75;
}
.roll_nav_items:not(.hidden){
    transition: all .6s cubic-bezier(.3,.8,.1,.95);
}
.roll_nav_items:hover:not(.hidden){
    opacity: 1 !important;
}
.roll_nav_items>img{
    vertical-align: bottom;
    width: 75%;
}
.hidden{
    opacity: 0;
}
.roll_nav_container{
    position: relative;
    width: 100%;
    height: auto;
    margin:0;
    padding:0;
    text-align:center;
    z-index:2;
}
.roll_nav{
    list-style-type: none;
    margin:0;
    padding:0;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.roll_nav_active{
    transition: all .6s cubic-bezier(.3,.8,.1,.95);
}
.roll_nav_items_active>img{
    vertical-align: bottom;
}
.roll_nav_items_active{
    opacity:1 !important;
}
.roll_nav_strip{
    height: 4px;
    width: 15vw;
    margin: 0 auto;
    opacity: 1;
}
.roll_left{
    left: 6vw;
}
.roll_right{
    left: 93vw;
}
.row_control_container{
    width:100vw;
    height: 72px;
}
.roll_left , .roll_right{
    position: absolute;
    cursor: pointer;
    z-index:3;
    opacity:0.75;
    bottom: 0;
    transition-duration:0.6s;
}
.roll_left:hover , .roll_right:hover{
    opacity: 1;
}
.roll_controls{
    position : absolute;
    bottom: 10vh;
}
.function_btn{
    background:#ffa400;
    font-family: UbisoftSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size:15px;
    font-weight: 700;
    border:0;
    height: 50px;
    border-radius:24px;
    width: 180px;
    color: white;
    cursor: pointer;
    transition-duration: 0.6s;
}
.function_btn:hover{
    opacity: 0.8;
}
.news_btn_container{
    display: block;
    text-align:center;
    margin-top:36px;
}
.news_nav_container{
    display:block;
    text-align:center;
}
.news_nav_container>ul{
    list-style-type: none;
    margin:20px auto;
    padding:0;
}
.news_nav_container_li{
    margin:auto 24px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    color: #5a5a5a;
    font-size: 15px;
}
.news_item{
    text-align:left;
    cursor:pointer;
    display:inline-block;
    margin:24px;
    position:relative;
}
@media screen and (min-width:1000px){
    .news_container{
        display:block;
        width:85%;
        margin:0 7.5% 0 7.5%;
        text-align:center;
    }
    .news_item{
        width:35%;
        height: 180px;
    }
    .news_item_left {
        display:inline-block;
        width:50%;
        height:100%;
        overflow: hidden;
    }
    .news_item_right{
        display:inline-block;
        width:50%;
        height: 100%;
    }
    .news_item_img{
        position: absolute;
        object-fit: cover;
        top:0;
    }
    .news_nav_mobile{
        display: none;
    }
    .news_nav_container>ul{
        display:block;
    }
}
@media screen and (max-width:1000px){
    .inside_item_description_text_whole{
        display:none;
    }
    .news_container{
        display:block;
        width:90%;
        margin:0 1% 0 1%;
        text-align:center;
    }
    .news_item{
        width:100%;
        height: 40vh;
    }
    .news_item_right,.news_item_left{
        display:block;
        width: 100%;
    }
    .news_item_left{
        max-height:20vh;
    }
    .news_item_right{
        max-height:20vh;
    }
    .news_item_img{
        height:100%;
        object-fit: scale-down;
    }
    .news_nav_mobile{
        display: block;
    }
    .news_nav_container>ul{
        display:none;
    }
}
.news_nav_container_li_active{
    font-weight:700;
    color: black !important;
}
.news_nav_container_li_active:after{
    content:" ";
    height:4px;
    background:black;
    width:100%;
    margin-top:2px;
    display:block;
}
.news_item_right{
    overflow: hidden;
}
.news_item_left{
    position:relative;
}
.news_item_img{
    width:100%;
    transition-duration: 0.6s;
}
.news_item_img:hover{
    transform:scale(1.02,1.02);
}
.news_item_right>a>h3{
    font-weight:700;
    font-size:19px;
    font-family: UbisoftSans-Bold,UbisoftSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    text-transform:uppercase;
    margin:0 0 4px 8px;
    color:black;
}
.news_item_right>h4{
    font-family: Georgia,Times,Times New Roman,serif;
    font-style: italic;
    color: #5a5a5a;
    margin:2px 0 2px 8px;
}
.news_item_right>h5{
    color: #5a5a5a;
    font-family: UbisoftSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin:12px 0 2px 8px;
    font-size: 14px;
}
.news_item_right>h5 a{
    color: #5a5a5a;
}
.news_item_shadow{
    position: absolute;
    bottom: 0;
    width:100%;
    height: 70px;
    background: linear-gradient(180deg,hsla(0,0%,100%,0),#fff);
}
.pc_nav_search_box{
    position: absolute;
    top: 60px;
    right: 8%;
    width: 0;
    height:36px;
    z-index:4;
    transition-duration: 0.6s;
}
.pc_nav_search_box_active{
    display: inline-block !important;
    width: 400px !important;
}
.pc_nav_search_box_active>.pc_nav_search_input{
    display: block !important;
}
.pc_nav_search_input{
    display:none;
    width:100%;
    height: 100%;
    font-family: UbisoftSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 100;
    border: none;
    padding: 10px 15px;
    outline: none;
    letter-spacing: .07em;
}
.search_icon{
    width:18px;
    height:18px;
}
.search_button_active{
    background: white !important;
}
.news_nav_mobile{
    border:1px black solid;
    border-radius:24px;
    height:48px;
    text-align:center;
    font-size: 18px;
    font-weight: 700;
    padding:10px;
    outline:0;
    margin:24px auto;
}
.mobile_nav_panel{
    opacity: 0;
    transition: all 1.2s cubic-bezier(.33,.63,.65,.99);
    min-height: 100%;
    position: fixed;
    width: 0;
    z-index:-10;
    background:#1d1e22;
    margin:0;
    padding: 0;
}
.mobile_nav_panel_active{
    width: 100vw !important;
    opacity:1 !important;
    z-index:10;
}
.mobile_nav_links{
    padding-left: 0;
    list-style-type: none;
}
.mobile_nav_links_item{
    height: 50px;
    margin: 0 50px;
    border-bottom: 1px solid #8b8b8c;
}
.mobile_nav_links_item:nth-child(5){
    border-bottom: none !important;
}
.mobile_nav_links_item>a{
    display: block;
    height: 100%;
    color:#ccc;
    font-family: UbisoftSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 18px;
    letter-spacing: .01em;
    vertical-align: middle;
    padding-top: 15px;
    padding-left: 12px;
}
.mobile_nav_links_item:hover{
    background: #494949;
}
.mobile_nav_search_input{
    height: 48px;
    margin-top:32px;
    outline:0;
    padding-left: 12px;
    line-height: 45px;
    border-radius: 36px;
    border: 1px solid #8b8b8c;
    letter-spacing: .01em;
    font-weight: 400;
    font-size: 20px;
    width:100%;
    background: transparent;
    color: #ccc;
}
.mobile_nav_search{
    margin: 0 80px;
    position: relative;
}
.mobile_nav_search_btn_img{
    width: 100%;
    height: 100%;
}
.mobile_nav_search_btn{
    width: 18px;
    height: 18px;
    cursor: pointer;
    position: absolute;
    right: 24px;
    top: 48px;
    display: inline-block;
}
.mobile_nav_close{
    cursor:pointer;
    display: inline-block;
    width: 48px;
    height: 48px;
    position: relative;
}
.mobile_nav_close:before{
    transform: rotate(45deg);
    content: "";
    position: absolute;
    left: 20px;
    top: 25px;
    width: 22px;
    height: 3px;
    background: #666;
}
.mobile_nav_close:after{
    transform: rotate(-45deg);
    content: "";
    position: absolute;
    left: 20px;
    top: 25px;
    width: 22px;
    height: 3px;
    background: #666;
}
.more_games_row_2{
    top: 290px !important;
}
.more_games_container{
    height: 290px;
    width: 11946px;
    left:0;
    top:0;
    position:absolute;
    display:flex;
}
.more_games_container_active{
    transition: all .6s cubic-bezier(.3,.8,.1,.95);
}
.more_games{
    width: 100%;
    height: 580px;
    transition: all .6s cubic-bezier(.3,.8,.1,.95);
    overflow:hidden;
    position:relative;
    cursor:pointer;
}
.game_box{
    margin: 18px;
    width:266px;
    height: 220px;
    padding:0 0 12px 0;
    box-shadow: 0 0 50px rgba(0,0,0,0.2);
    display: block;
    align-items: flex-start;
    flex-direction: column;
}
.game_box_img_container{
    width:266px;
    height:150px;
    overflow: hidden;
}
.game_box_img_container>img:hover{
    transform: scale(1.05,1.05);
}
.game_box_img_container>img{
    width:266px;
    height:150px;
    object-fit: cover;
    transition: all .6s cubic-bezier(.3,.8,.1,.95);
}
.game_box_name {
    margin: 9px 3px 6px 9px;
}
.game_box_description{
    margin: 3px 3px 6px 9px;
    font-size: 10px;
    font-family: Georgia,Times,Times New Roman,serif;
    font-style: italic;
    color: #5a5a5a;
    -webkit-font-smoothing: antialiased;
}
.more_dot{
    border-radius: 50%;
    width: 7px;
    height: 7px;
    margin: 12px;
    background: #ccc;
    display: inline-block;
}
.more_dot_active{
    background: #e46600 !important;
}
.more_nav{
    list-style-type: none;
    display:block;
    padding: 0;
    margin: 0;
}
.more_control_container{
    text-align:center;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}
.more_control{
    display: block;
    cursor: pointer;
}